
body{
    background-image: linear-gradient(#382d1c, #52432e);
}

#Title{
    font-family: 'sodoSans', sans-serif;
    font-size: 38px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    transition: transform 0.45s ease;
}

#Title:hover{
    transform: rotate(1.5deg);
}

#scoreCounter{
    font-family: 'sodoSans', sans-serif;
    font-size:28px;
    color: gold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}


.plant-select{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.plant{
    width: 65px;
    padding-left: 20px;
    cursor:grab;
    border-radius: 10px;
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-in;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.plant:hover{
    transform: scale(1.25) rotate(2.7deg);
    box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.5);;
}

#plantGold{display: none;}
#plantGold.visible{display: block;}


.Garden{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:15px;
    padding: 30px;
    background-color: #382d1c;
    border: 8px solid rgb(56, 25, 25);
    margin-top: 10px;
}

.Garden > div {
    width: 300px;
    height: 180px;
    background: radial-gradient(circle, #30a530, #277027 );
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: transform 0.27s ease, box-shadow 0.43s ease-in-out; 
}

.Garden >div:hover{
    transform: scale(1.07) rotate(-1.4deg);
    box-shadow: 9px 3px 20px rgba(0, 0, 0, 0.5);
}

.GardenText{
    font-family: 'sodoSans', sans-serif;
    font-size: 45px;
    text-align: center;
    color: white;
    background: linear-gradient(#583a21, #462e1b );
    box-shadow: 6px 2px 15px rgba(0, 0, 0, 0.5);
}


#garden2{display:none;}
#garden2.visible{display:block;}
#garden3{display:none;}
#garden3.visible{display:block;}
#garden4{display:none;}
#garden4.visible{display:block;}
#garden5{display:none;}
#garden5.visible{display:block;}
#garden6{display:none;}
#garden6.visible{display:block;}
#garden7{display:none;}
#garden7.visible{display:block;}
#garden8{display:none;}
#garden8.visible{display:block;}